html,
body {
  height: 100%;
}

body
{
	background-color: #296136;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
}

h1
{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 26px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #1E4426;
	font-weight: 700;
	color: #1E4426;
}

.bg-money
{
	background-color: #0C1D10 !important;
}

.navbar-text
{
	font-size: 1.8rem;
	font-family: 'Caveat', cursive;
	color: #fff !important;
}

.navbar-brand img
{
	padding-top: 8px;
	padding-bottom: 15px;
}

.btn-md
{
	min-width: 12rem;
	
}

.bg-money .btn-md
{
	border-bottom: 0;
	min-width: 10rem;
}


.form-signin 
{
  width: 100%;
  max-width: 500px;
  padding: 30px 50px;
  margin: auto;
  margin-top: 160px;
  background-color: #fff;
  border-radius: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0;
}

.form-signin input[type="text"] {
  margin-top: 0;
}

.form-signin button[type="submit"] {
	background-color: #1E4426;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 15px;
	margin-bottom: 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
}

.col-form-label
{
	color: #1E4426;
	font-size: 0.9rem;
}

.form-control
{
	background-color: #E0F1E4;
	color: #666;
	border: .5px solid #1E4426;
	font-size: 0.8rem;
}

.footer
{
	width: 100%;
	color: #fff !important;
	font-size: 0.8rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1.2rem;
	background-color: #050C06;
	letter-spacing: 3px;

}

.bi-envelope
{
	padding-bottom: 0.1rem;
}

.form-select
{
	background-color: #E0F1E4;
	color: #666;
	border: .5px solid #1E4426;
	font-size: 0.8rem;
	border-radius: 5px;
}

.modal-title
{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #1E4426;
	font-weight: 700;
	color: #1E4426;
}

.modal-footer button
{
	background-color: #1E4426;
	color: #fff;
}

.dropbtn {
	
  width: 150px;
  background-color: #1E4426;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 14px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content 
{
	font-size: 12px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
	background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
	display: block;
}

.dropdown:hover .dropbtn 
{
	background-color: #296136;
} 

.container-of-balance
{
	margin-top: 160px;
	margin-bottom: 40px;
	background-color: #fff;
	padding: 30px 50px;
	max-width: 700px;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}

h3
{
	font-size: 24px;
	font-weight: 700;
	/*color: #296136;*/
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	border-top: 3px solid #000;
	color: #0E5461;
	
}

.h3First
{
	border-top: 3px solid #1E4426;
	margin-top: 10px;
}

.incomes
{
	padding-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.incomes td
{ 
	border: 2px solid black;
	padding: 10px 10px;
	background-color: #a6e7f2;
	font-size: 13px;
}

.incomes th 
{
	border: 2px solid black;
	padding: 10px 10px;
	background-color: #20c2df;
	font-size: 13px;
}

.h3ColorForIncomes
{
	color: #0E5461;
}

.table-dark
{
	background-color: #000 !important;
}