html,
body {
  height: 100%;
}

body
{
	background-color: #296136;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
}

h1
{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 26px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #1E4426;
	font-weight: 700;
	color: #1E4426;
}

.bg-money
{
	background-color: #0C1D10 !important;
}

.navbar-text
{
	font-size: 1.8rem;
	font-family: 'Caveat', cursive;
	color: #fff !important;
}

.navbar-brand img
{
	padding-top: 8px;
	padding-bottom: 15px;
}

.btn-md
{
	min-width: 12rem;
	
}

.bg-money .btn-md
{
	border-bottom: 0;
	min-width: 10rem;
}


.form-signin 
{
  width: 100%;
  max-width: 500px;
  padding: 30px 50px;
  margin: auto;
  margin-top: 160px;
  background-color: #fff;
  border-radius: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0;
}

.form-signin input[type="text"] {
  margin-top: 0;
}

.form-signin button[type="submit"] {
	background-color: #1E4426;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 15px;
	margin-bottom: 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
}

.col-form-label
{
	color: #1E4426;
	font-size: 0.9rem;
}

.form-control
{
	background-color: #E0F1E4;
	color: #666;
	border: .5px solid #1E4426;
	font-size: 0.8rem;
}

.footer
{
	width: 100%;
	color: #fff !important;
	font-size: 0.8rem;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1.2rem;
	background-color: #050C06;
	letter-spacing: 3px;

}

.bi-envelope
{
	padding-bottom: 0.1rem;
}

.form-select
{
	background-color: #E0F1E4;
	color: #666;
	border: .5px solid #1E4426;
	font-size: 0.8rem;
	border-radius: 5px;
}